@charset "utf-8";



/* 로고 */
.header_logo{
    margin-right: 50px;
    color: #fff;
    margin-left: 10px;
}

/* 메뉴 */
.main_navigation:after{
    content : "";
    display: block;
    clear: both;
}

.main_navigation>li{
    float: left;
    margin-right: 20px;
    font-size:0.8em;
}

.header_search{
    margin-right: 10px;
}

/* article */
.content_inner:after{
    content:"";
    display: block;
    clear: both;
}
.article_item{
    background: #fff;
    float: left;
    width: calc( 100% / 2 - 10px);
    margin-top: 10px;
    border-radius: 5px;
    overflow: hidden;
}
.article_item:nth-child(2n-1){
    margin-right: 10px;
}
.article_item:nth-child(2n){
    margin-right: 0px;
}
.article_item>img{
    width: 100%;
    height: auto;
}
.article_item>div{
    padding: 10px;
    box-sizing: border-box;
}
.article_item>div>p{
    
}
.article_item>div>span{
    word-break: break-all;
    font-size: 0.9em;
    color:#5c5c5c;
}





