@charset "utf-8";
    
    

/* 모바일 Device : 0 ~ 640 */
@media screen and (max-width: 640px){
    .header_inner{
        width : 640px;
    }
    .content_inner{
        width : 640px;
    }
    .footer_inner{
        width : 640px;
    }
}

/* Tablet Device : 641 ~ 768 */
@media screen and (min-width: 641px){
    .header_inner{
        width : 768px;
    }
    .content_inner{
        width : 768px;
    }
    .footer_inner{
        width : 768px;
    }
}

/* DeskTop Device : 1024 이상 */
@media screen and (min-width:1024px){
    .header_inner{
        width : 1024px;
    }
    .content_inner{
        width : 1024px;
    }
    .footer_inner{
        width : 1024px;
    }
}

.header_inner{
    margin : 0 auto;
}

.content_inner{
    margin : 0 auto;
}

.footer_inner{
    margin : 0 auto;
}































